/* global */

:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  font-family: "Epilogue";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 18px;
  color: var(--MediumGray);
}

/* global */

/* navbar */

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 1rem 2rem;
}

nav div.brand {
  margin: 0.7rem 0; /*margin up and down same with nav div.nav-links ul li */
  margin-right: 3rem;
}

nav div.nav-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav div.nav-links img.close-menu {
  display: none;
}

nav div.nav-links ul.nav-list,
nav div.nav-links ul.member {
  display: flex;
}

nav div.nav-links ul.nav-list li,
nav div.nav-links ul.member li {
  margin: 0.5rem; /*margin up and down same with div.brand*/
  font-weight: 500;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
}

nav div.nav-links ul li a {
  color: var(--MediumGray);
}

nav div.nav-links ul li:hover a {
  color: var(--AlmostBlack);
}

nav div.nav-links ul.member li:nth-child(2) {
  border: 2px solid var(--MediumGray);
  border-radius: 0.7rem;
}

nav div.nav-links ul.nav-list li.features-list,
nav div.nav-links ul.nav-list li.company-list {
  position: relative;
}

nav div.nav-links ul.nav-list li ul.features {
  /*dropdown features*/
  position: absolute;
  display: none;
  left: -45%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.7rem;
  margin: 1rem 0;
}

nav div.nav-links ul.nav-list li ul.company {
  /*dropdown company*/
  position: absolute;
  display: none;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.7rem;
  margin: 1rem 0;
}

nav div.nav-links ul.nav-list li ul.features li,
nav div.nav-links ul.nav-list li ul.company li {
  margin: 1.2rem;
  padding: 0;
}

nav div.nav-links ul.nav-list li ul.active {
  display: block;
  z-index: 10;
}

nav div.nav-links ul.nav-list li ul.features li img {
  margin-right: 1rem;
}

nav div.menu img {
  margin: 1rem 0; /*margin up and down same with nav div.nav-links ul li */
  display: none;
}

/* navbar */

/* main */

main {
  width: 75%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main div.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

main div.text h1 {
  font-size: 5.7rem;
  color: var(--AlmostBlack);
  margin: 0;
}

main div.text p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2.5rem 0;
}

main div.text h2 {
  border: 1px solid var(--AlmostBlack);
  background-color: var(--AlmostBlack);
  color: var(--AlmostWhite);
  width: 20%;
  text-align: center;
  padding: 1.2rem 1rem;
  border-radius: 0.7rem;
}

main div.text h2:hover {
  background-color: var(--AlmostWhite);
  color: var(--AlmostBlack);
}

main div.sponsor {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 7rem;
}

main div.image {
  width: 35%;
  height: 100%;
}

main div.image img.desktop {
  max-width: 100%;
  height: 100%;
}

main div.image img.mobile {
  display: none;
}

/* main */

/* query mobile */

@media (max-width: 600px) {
  html,
  body {
    display: block;
    text-align: center;
    margin: 0;
    overflow-x: hidden;
  }

  /* nav */
  nav div.overlay.active {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.507);
  }

  nav {
    margin: 0;
    justify-content: space-between;
    padding: 1rem 1.2rem;
  }

  nav div.nav-links {
    display: none;
  }

  nav div.nav-links ul.nav-list li ul.features,
  nav div.nav-links ul.nav-list li ul.company {
    position: static;
    box-shadow: none;
  }

  nav div.nav-links img.close-menu {
    display: flex;
    margin: 1.5rem;
    margin-left: auto;
  }

  nav div.nav-links.active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    display: block;
    background-color: var(--AlmostWhite);
    height: 100vh;
  }

  nav div.nav-links.active ul {
    display: block;
    text-align: left;
  }

  nav div.nav-links.active ul.member {
    text-align: center;
  }

  nav div.nav-links.active ul.member li:nth-child(2) {
    width: 60%;
    margin: auto;
  }

  nav div.menu img {
    display: flex;
  }

  /* nav */

  /* main content */

  main {
    padding-top: 4.5rem;
    width: 100vw;
    margin: 0;
    height: auto;
    flex-direction: column-reverse;
  }

  main div.text {
    width: 100%;
  }

  main div.text h1 {
    font-size: 2.5rem;
    margin-top: 3.5rem;
  }

  main div.text p {
    font-size: 1.1rem;
    margin: 2rem 1.2rem;
    font-weight: 500;
  }

  main div.text h2 {
    margin: auto;
    width: 30%;
    border-radius: 1.2rem;
  }

  main div.text div.sponsor {
    gap: 1rem;
    justify-content: center;
  }

  main div.image {
    width: 100%;
  }

  main div.image img.desktop {
    display: none;
  }

  main div.image img.mobile {
    display: block;
    width: 100%;
  }
}
/* main content */

/* query mobile */
